Categories: contact
Template: home
Summary: Email information

.container
  .row
    .col-md-9
      %h1
        = I18n.translate('contact.title')
      %p
        = I18n.translate('contact.cs') 
      %p
        = I18n.translate('contact.estorm')

      %h2= I18n.translate('contact.address')
      %address
        = I18n.translate('contact.office')

  