Title: SMS Draws
Template: home
Link text: Draws


.container
  .row
    .col-offset-1.col-md-5
      .hero-unit
        %section.intro
          %heading
          %h1
            = I18n.translate('draws.heading')
          %p= I18n.translate('draws.drawdetails')
          %p= I18n.translate('draws.daily')
    .col-md-5
      = haml :commands_menu, :layout => false
      = haml :help3030_menu, :layout => false 
      
  .row
    .col-offset-1.col-md-5
      %p
        = I18n.translate('draws.prizes')
        %a(href="prizes") 
          prize


