Title: How to Play
Template: home
Link text: About


.container
  .row
    .col-md-offset-1.col-md-7
      .hero-unit
        %section.intro
          %heading
          %h1
            = I18n.translate('howtoplay.title')
          %p= I18n.translate('howtoplay.para1')

  .row
    .col-md-7
      %h2= I18n.translate('howtoplay.entries')
      %p= I18n.translate('howtoplay.para2')
      %h2= I18n.translate('howtoplay.soldout')
      %p= I18n.translate('howtoplay.soldout2')
      = haml :help3030_menu, :layout => false 
      
    .col-md-5
      = haml :commands_menu, :layout => false
      = haml :commands3d_menu, :layout => false
      = haml :dashboard_menu, :layout => false

  .row
    .col-md-9
      / %h2 More stuff
      /= article_summaries(latest_articles)
    .col-md-3
      /= haml :strategy_menu, :layout => false
