Template: home
Link text: Home page

.container
  .row
    .col-md-offset-2.col-md-6
      %h1
        = I18n.translate('index.heading') 
      %p.lead= I18n.translate('index.summary')
    .col-md-3
      %img( src="/attachments/telkomcel.jpg" width=120 height=40 alt='telcomcel logo')
        %p powered by Telkomcel Timor Leste
        
  .row
    .col-md-offset-1.col-md-3
      %a(href="http://tl-sms-dashboard-public.herokuapp.com/lotto" ) 
        %p= I18n.translate('index.dash') 
        %img{:src=>"attachments/dashboard.jpg", :width => "240", :height=>"180", :alt=>"Dashba"}
    .col-md-3
      %a(href="/prizes") 
        %p= I18n.translate('howtoplay.prizes') 
        %img{:src=>"attachments/sticker.jpg", :width => "240", :height=>"180"}
  .row
    .col-md-offset-1.col-md-3
      %a(href="/how-to-play") 
        %p= I18n.translate('index.easy') 
        %img{:src=>"attachments/winners/diliphones.jpg", :width => "230", :height=>"220"}
    .col-md-3
      %a(href="/draws") 
        %p= I18n.translate('index.daily')  
        %img{:src=>"attachments/lottoballs.jpeg", :width => "230", :height=>"150"}


