Title: Odds of Winning
Template: home
Link text: Odds


.container
  .row
    .col-md-7
      .hero-unit
        %section.intro
          %heading
          %h1
            = I18n.translate('howtoplay.odds')
          %p
            = I18n.translate('odds.overall')
          %p
            = I18n.translate('odds.major')
          %p
            = I18n.translate('odds.suggest')
            = haml :help3030_menu, :layout => false
    .col-md-5
      = haml :commands_menu, :layout => false
      = haml :dashboard_menu, :layout => false